a {
    color: #cc6060;
    text-decoration: none;
}

a:hover {
    color: #519ac5fc;
}

.logo-wrapper {
    text-transform: uppercase;
    padding: 30px 0px;
}

.menu {
    padding-left: 0px;
    background: #519ac5fc;
}

.menu .container {
    padding-left: 0px;
}

.menu-items .active {
    background: #2483d6;
}

.menu .menu-items a {
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    display: block;
}

.menu .menu-items a:hover {
    background: #2483d6;
}

.thumb {
    width: 100%;
}

.main-news {
    margin-top: 20px;
}

.main-news h3 {
    line-height: 0.75;
}

.main-news h3 a {
    font-size: 17px;
    text-decoration: none;
    font-weight: 600;
}

.image {
    overflow: hidden;
}

.image-sm {
    max-height: 180px;
}

.image-sm img {
    height: 180px;
}

.image-xs {
    max-height: 140px;
}

.image-xxs {
    max-height: 100px;
}

.image img {
    object-fit: cover;
}

.font-large {
    font-size: 0.9em !important;
    font-weight: 600 !important;
}

.section-title {
    position: relative;
    margin-bottom: 20px;
}

.section-title span {
    font-weight: 400;
    font-size: 17px;
    color: #519ac5fc;
}

.section-title span:after {
    content: '';
    position: absolute;
    background: #519ac5fc;
    width: 50px;
    height: 2px;
    left: 0;
    bottom: 0;
}

.bb-1 {
    padding: 20px 0px;
    border-bottom: 1px solid #eee;
}

.section {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

small {
    color: #999;
}

.summary {
    color: #777;
}

.trending .row {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.no-pad {
    padding-left: 0px !important;
}

des-article {
    direction: ltr;
    font-size: 28px;
    font-weight: bold;
}

.d-flex.menu-items {
    flex-wrap: wrap;
}

.menu-item {
    flex: 0 0 25%; /* Cài đặt kích thước cho mỗi phần tử menu */
    padding: 5px;
    box-sizing: border-box;
}

.section-title {
    text-align: left;
}
/*search*/
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.search-container input {
    padding: 10px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.search-container button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.search-container button:hover {
    background-color: #45a049;
}
/*.micro-icon {*/
/*    margin-left: 5px;*/
/*    font-size: 18px;*/
/*    color: #888;*/
/*}*/
.input-container {
    position: relative;
    display: inline-block;
}

.input-container input {
    padding-right: 30px; /* Để tạo không gian để hiển thị biểu tượng micro */
}

.input-container .micro-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}


/*css cho setting menu*/
.setting_button {
    height: 70px;
    width: 70px;
    border-radius: 35px;
    background-color: rgb(183 183 183 / 38%);
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
}
#setting_menu {
    height: 360px;
    width: 360px;
    border-radius: 5px;
    border: 5px solid black;
    position: absolute;
    transform: translate(-100%,-100%);
    display: flex;
    flex-direction: column;
}
.hidden {
    display: none!important;
}
.setting {
    position: fixed;
    top: 97vh;
    left: 97vw;
    transform: translate(-100%, -100%);
}
#start {
    background-color:  rgb(183 183 183 / 38%);
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border: 2px solid black;
    font-size: 20px;
    position: absolute;
    padding: 0px;
    padding-top: 2px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -110%);
}



.setting_bar {
    display: flex;
}
.item_bar {
    flex: 1;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-bottom: 2px solid black;
    background-color: white;
}
.active {
    background-color:  rgb(163 163 163);
}
.setting_panel {
    background-color: rgb(255, 255, 255);
    flex: 1;
}
.audio_parameters{
    display: flex;
    font-size: 18px;
    font-weight: bold;
    margin: 25px 10px;
    text-align: left;
}
.audio_parameters>input {
    flex: 1;
}
.audio_parameters>label {
    width: 100px;
}
.audio_parameters> span {
    width: 30px;
    text-align: right;
}

.myicon {
    width: 90%;
    height: 90%;
}

.color_box{
    height: 20px;
    width: 30px;
    margin: 5px;
    cursor: pointer;
    border-radius: 3px;
    border: 2px solid #d5d5d5;

}

#setting_audio, #setting_display {
    background-color: white;
    color: black;
}
.panel_color{
    display: flex;
    justify-content: space-around;
}
.labelPanel_color{
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 10px;
}




