<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device=width, initial-scale=1.0">
		<title>The News</title>
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/style.css">
	</head>

	<body>

		<div class="container">
			<div class="logo-wrapper d-flex align-items-center">
				<h1>
					<a href="index.html">
						The News
					</a>
				</h1>
			</div>
		</div>
		<div class="container-fluid menu">
				<div class="container">
					<div class="d-flex menu-items">
						<div class="active">
							<a href="index.html">Home</a>
						</div>
						<div>
							<a href="category.html">Health</a>
						</div>
						<div>
							<a href="category.html">Religion</a>
						</div>
						<div>
							<a href="category.html">Technology</a>
						</div>
						<div>
							<a href="category.html">Business</a>
						</div>
						<div>
							<a href="category.html">Politics</a>
						</div>
						<div>	
							<a href="category.html">Features</a>
						</div>
						<div>	
							<a href="category.html">Interviews</a>
						</div>
					</div>
				</div>
			</div>

			<div class="container main-news">
				<div class="row">
					<div class="col-8">
						
						<div class="mb-4 mt-4 section">
							<div class="section-title">
								<span>Latest Updates</span>
							</div>
							<div class="row mb-3 bb-1 pt-0">
								<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
									<img class="thumb" src="https://letzcricket.com/uploads/news/vGWpKyVU7jHXz5K8.png">
								</div>
								<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
									<h5>
										<a href="detail.html">
											India win series despite Sam Curran's heroics
										</a>
									</h5>
									<small>29th August, 2021</small>
									<p class="summary pt-3">Despite heroic innings from the bat of Sam Curran, India defeated England by 7 runs to win the 3 match series 2-1. Chasing a target of 330 runs to win, the visiting team finished on 322/9 falling short of the target by 7 runs.</p>
								</div>
							</div>
							<div class="row mb-3 bb-1 pt-0">
								<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
									<img class="thumb" src="https://letzcricket.com/uploads/news/vGWpKyVU7jHXz5K8.png">
								</div>
								<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
									<h5>
										<a href="detail.html">
											India win series despite Sam Curran's heroics
										</a>
									</h5>
									<small>29th August, 2021</small>
									<p class="summary pt-3">Despite heroic innings from the bat of Sam Curran, India defeated England by 7 runs to win the 3 match series 2-1. Chasing a target of 330 runs to win, the visiting team finished on 322/9 falling short of the target by 7 runs.</p>
								</div>
							</div>
							<div class="row mb-3 bb-1 pt-0">
								<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
									<img class="thumb" src="https://letzcricket.com/uploads/news/vGWpKyVU7jHXz5K8.png">
								</div>
								<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
									<h5>
										<a href="detail.html">
											India win series despite Sam Curran's heroics
										</a>
									</h5>
									<small>29th August, 2021</small>
									<p class="summary pt-3">Despite heroic innings from the bat of Sam Curran, India defeated England by 7 runs to win the 3 match series 2-1. Chasing a target of 330 runs to win, the visiting team finished on 322/9 falling short of the target by 7 runs.</p>
								</div>
							</div>
							<div class="row mb-3 bb-1 pt-0">
								<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
									<img class="thumb" src="https://letzcricket.com/uploads/news/vGWpKyVU7jHXz5K8.png">
								</div>
								<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
									<h5>
										<a href="detail.html">
											India win series despite Sam Curran's heroics
										</a>
									</h5>
									<small>29th August, 2021</small>
									<p class="summary pt-3">Despite heroic innings from the bat of Sam Curran, India defeated England by 7 runs to win the 3 match series 2-1. Chasing a target of 330 runs to win, the visiting team finished on 322/9 falling short of the target by 7 runs.</p>
								</div>
							</div>
							<div class="row mb-3 bb-1 pt-0">
								<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
									<img class="thumb" src="https://letzcricket.com/uploads/news/vGWpKyVU7jHXz5K8.png">
								</div>
								<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
									<h5>
										<a href="detail.html">
											India win series despite Sam Curran's heroics
										</a>
									</h5>
									<small>29th August, 2021</small>
									<p class="summary pt-3">Despite heroic innings from the bat of Sam Curran, India defeated England by 7 runs to win the 3 match series 2-1. Chasing a target of 330 runs to win, the visiting team finished on 322/9 falling short of the target by 7 runs.</p>
								</div>
							</div>
							<div class="row mb-3 bb-1 pt-0">
								<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
									<img class="thumb" src="https://letzcricket.com/uploads/news/vGWpKyVU7jHXz5K8.png">
								</div>
								<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
									<h5>
										<a href="detail.html">
											India win series despite Sam Curran's heroics
										</a>
									</h5>
									<small>29th August, 2021</small>
									<p class="summary pt-3">Despite heroic innings from the bat of Sam Curran, India defeated England by 7 runs to win the 3 match series 2-1. Chasing a target of 330 runs to win, the visiting team finished on 322/9 falling short of the target by 7 runs.</p>
								</div>
							</div>
							<div class="row mb-3 bb-1 pt-0">
								<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
									<img class="thumb" src="https://letzcricket.com/uploads/news/vGWpKyVU7jHXz5K8.png">
								</div>
								<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
									<h5>
										<a href="detail.html">
											India win series despite Sam Curran's heroics
										</a>
									</h5>
									<small>29th August, 2021</small>
									<p class="summary pt-3">Despite heroic innings from the bat of Sam Curran, India defeated England by 7 runs to win the 3 match series 2-1. Chasing a target of 330 runs to win, the visiting team finished on 322/9 falling short of the target by 7 runs.</p>
								</div>
							</div>
							<div class="row mb-3 bb-1 pt-0">
								<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
									<img class="thumb" src="https://letzcricket.com/uploads/news/vGWpKyVU7jHXz5K8.png">
								</div>
								<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
									<h5>
										<a href="detail.html">
											India win series despite Sam Curran's heroics
										</a>
									</h5>
									<small>29th August, 2021</small>
									<p class="summary pt-3">Despite heroic innings from the bat of Sam Curran, India defeated England by 7 runs to win the 3 match series 2-1. Chasing a target of 330 runs to win, the visiting team finished on 322/9 falling short of the target by 7 runs.</p>
								</div>
							</div>
							<div class="row mb-3 bb-1 pt-0">
								<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
									<img class="thumb" src="https://letzcricket.com/uploads/news/vGWpKyVU7jHXz5K8.png">
								</div>
								<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
									<h5>
										<a href="detail.html">
											India win series despite Sam Curran's heroics
										</a>
									</h5>
									<small>29th August, 2021</small>
									<p class="summary pt-3">Despite heroic innings from the bat of Sam Curran, India defeated England by 7 runs to win the 3 match series 2-1. Chasing a target of 330 runs to win, the visiting team finished on 322/9 falling short of the target by 7 runs.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="trending mt-4">
							<div class="section-title">
								<span>Trending</span>
							</div>
							<div class="row">
								<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
									<img class="thumb" src="images/paras.jpeg">
								</div>
								<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
									<a href="">
										Paras Khadka retires from international cricket
									</a>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
									<img class="thumb" src="https://letzcricket.com/uploads/articles/dddNsPXVC6f5bmI5.jpg">
								</div>
								<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
									<a href="">
										Can Rohit be next Sehwag in Indian Test Cricket
									</a>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
									<img class="thumb" src="https://letzcricket.com/uploads/news/vGWpKyVU7jHXz5K8.png">
								</div>
								<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
									<a href="">
										India win series despite Sam Curran's Heroics
									</a>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
									<img class="thumb" src="images/nepal.jpeg">
								</div>
								<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
									<a href="">
										Domestic Cricket Changing the Face of Nepali Cricket
									</a>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
									<img class="thumb" src="images/afridi.jpeg">
								</div>
								<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
									<a href="">
										Afridi to play Everest Premier League from Kathmandu Kings
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<script type="text/javascript">
			window.onscroll = function(){
				setSticky();
			}

			navbar = document.getElementsByClassName('menu')[0];
			var sticky = navbar.offsetTop;
			function setSticky(){
				if(window.pageYOffset >= sticky){
					navbar.classList.add('sticky');
				}else{
					navbar.classList.remove('sticky');
				}
			}
		</script>
